.all-head1{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
}
.all-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
}
.all-head2{
    font-family: Poppins;
    font-size: 1vw;
    font-weight: 400;
}
.all-each{
    width: 15vw;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.95px 2.6px;
    padding-left: 1vw;
    padding-right: 0.5vw;
}
.all-each-head{
    font-family: Poppins;
    font-size: 1.1vw;
    font-weight: 400;
}
.all-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.5vw;
    padding-left: 1vw;
}
.all-view{
    font-family: Poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: green;
    cursor: pointer;
}
.all-edit{
    font-family: Poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: rgb(6, 132, 163);
    cursor: pointer;
}
.all-del{
    font-family: Poppins;
    font-size: 0.9vw;
    font-weight: 500;
    color: red;
    cursor: pointer;
}